.social-thumbnails {
  width: 100%;
	max-width: 1500px;
	padding: 1em 2vw;
  text-align: right;
  margin: 2vh auto 2vh auto;
}

.social-thumbnails img {
  height: 40px;
  width: 40px;
  margin: 0 10px;
  opacity: 1;
}
