@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Roboto+Mono:400,600,700');

body {
  background-color: #fafafa;
  color: #000;
  margin: 0;
}

* {
  box-sizing: border-box;
}

p, a {
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background: #4295CE;
  color: #fff;
}

a {
  color: #000;
  text-decoration: none;
  /* font-weight: 500; */
}

a:hover {
  color: #4295CE;
}

a.active {
  color: #4295CE;
}
